<header class="mb-5">
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">GA Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors">Authors Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors/new">Create New Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles">Articles Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/new">Create New Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
</header>
