<% include ../partials/_head %>

<% include ../partials/_header %>

    <main class="container">
      <form action="/articles" method="POST">
        <select name="authorId" class="form-control">
          <% for (let i = 0; i < authors.length; i++) { %>
            <option value="<%= authors[i]._id %>"><%= authors[i].name %></option>
          <% } %>
        </select>
        <br />
        <div class="form-group">
          <input type="text" name="title" class="form-control" />
        </div>
        <textarea name="body" class="form-control mb-3"></textarea>
        <button class="btn btn-primary float-right" type="submit">Create Article</button>
        <a class="btn btn-secondary float-right mr-3" href="/articles">Cancel</a>
      </form>
    </main>

  <% include ../partials/_footer %>
